<div class="my-contacts">
  <h2>Meus contatos</h2>
  <a class="button outlined new-contact" id="btn-new-contact">
    <img src="/images/plus.svg" alt="Sair" />
    Novo Contato
  </a>
</div>
<div class="question-wrapper">
  <div class="question-content">
    <div class="user">
      <img src="/images/user.svg" alt="Avatar" />
    </div>
    <div class="question">
      <p>Ercio Alendre</p>
    </div>
  </div>
  <div class="actions">
    <a href="#" class="check" data-name="mark-as-read" data-id="">
      <img src="/images/pencil.svg" alt="Mark as read" />
      Editar
    </a>
    <a href="#" class="trash" data-name="delete" data-id="">
      <img src="/images/trash.svg" alt="Delete" />
      Excluir
    </a>
  </div>
</div>

<!-- MODAL -->
<div class="modal-wrapper">
  <div class="modal">
    <h2>Adicionar um novo contato</h2>
    <form action="#" method="POST">
      <label for="name" class="scr-only">Nome</label>
      <input id="name" name="name" type="text" placeholder="Nome" required />
      <label for="name" class="scr-only">Telefone</label>
      <input id="name" name="name" type="text" placeholder="Telefone" required />
      <label for="name" class="scr-only">Nome</label>
      <input id="name" name="name" type="text" placeholder="Nome" required />
      <input id="questionAction" name="questionAction" type="hidden" />
      <input id="questionId" name="questionId" type="hidden" />
      <div class="buttons">
        <button class="blue">Enviar</button>
      </div>
    </form>
  </div>
</div>
<!-- MODAL -->
