<div class="no-contacts">
  <img src="/images/no-contacts.svg" alt="Nenhum contato aqui ainda..." />
  <p>Nenhum contato aqui ainda...</p>
  <p>Clique em Novo Contato para cadastrar o seu primeiro contato</p>
</div>
