.modal-wrapper {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(4, 9, 17, 0.8);
  visibility: hidden;
  opacity: 0;
}

.modal-wrapper.active {
  visibility: visible;
  opacity: 1;
}

.modal-wrapper .modal {
  width: min(59rem, 90%);
  background: var(--white);
  margin: auto;
  border-radius: 0.8rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.modal-wrapper .modal h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 1.2rem;
}

.modal-wrapper .modal p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--grey-dark);
  margin-bottom: 2.4rem;
}

.modal-wrapper .modal input {
  margin-bottom: 4rem;
  padding: 1.3rem 1.6rem;
  border: 0.2rem solid var(--blue);
  width: min(30.2rem, 65%);
}

.modal-wrapper .modal .buttons > div {
  margin-right: 0.8rem;
}

.modal-wrapper .modal .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper .modal .buttons > button,
.modal-wrapper .modal .buttons > .button {
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 1.3rem 1.6rem;
  width: min(30.2rem, 65%);
}

.modal-wrapper .modal .btn-close-modal {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  padding-top: 3rem;
  padding-right: 3rem;
  cursor: pointer;
}

.modal-wrapper .modal .modal-content {
  padding: 6.4rem;
  padding-top: 3.2rem;
}
